@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var plants = (Plant[])ViewData["plants"];
    var sensorData = (List<SensorData>)ViewData["sensorData"];
}





<div class="d-flex justify-content-around flex-wrap ">
    @for (var i = 0; i < @plants.Length; i++)
    {
        <div class="mx-2 three-per-row mt-2">
            <h6 class="mb-2">@plants[i].plantName</h6>
            <div style="height: 330px; width: 250px" class="p-2 gradient border border-gray">
                <a href="/rastline/podrobnosti/@plants[i].plantId">
                    <div class="d-flex flex-column align-items-center px-2 py-5 bg-white   border border-dark rounded-circle">
                        <img src="./Assets/plant.png" style="max-height: 100px; max-width: 100px;" />
                        @*<div class="text-center mt-1">Čas | 9 dni</div>*@
                        <div class="text-gray">@sensorData.ElementAt(i).ambientTemperatureCelsius°C | @sensorData.ElementAt(i).growthCm Cm</div>
                    </div>
                </a>
                <div class="d-flex justify-content-around mt-3">
                    
                    <div class="d-flex flex-column justify-content-start align-items-center w-25 text-center">
                        <img src="./Assets/light.png" class="icon-25 " />
                        <div class="mt-1 text-gray">@sensorData.ElementAt(i).solarRadiation UVI</div>
                    </div>
                    <span class="text-gray"> | </span>

                    <div class="d-flex flex-column justify-content-start align-items-center">
                        <img src="./Assets/water.png" class="icon-25" />
                        <div class="mt-1 text-gray">@sensorData.ElementAt(i).ambientHumidityPercentage %</div>
                    </div>
                    <span class="text-gray"> | </span>
                    <div class="d-flex flex-column justify-content-start align-items-center">
                        <img src="./Assets/gnojilo.png" class="icon-25" />
                        <div class="mt-1 text-gray">@sensorData.ElementAt(i).soilHumidityPercentage %</div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>

<style>
    .icon-25 {
        width: 25px;
        height: 25px;
    }

    .gradient {
        height: 100%;
        background: linear-gradient(0deg, #FFF 50%, #CDD5B6 50%);
    }

    .text-gray {
        color: #969696;
    }

    .border-gray {
        border-color: #595959;
    }


    .three-per-row {
        flex-basis: 25%;
    }
</style>